node_modules
.env
.env.enc
directions.mdx
dependencies.mdx

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# exposed contracts
/contracts-exposed

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
